:root { 
--black_900_5e:#0000005e; 
--blue_gray_50:#ebedf2; 
--gray_900_87:#0a103d87; 
--gray_900:#0a103d; 
--gray_900_01:#1c083a; 
--gray_300:#d9dbf1; 
--gray_50:#f8f8f8; 
--yellow_600:#f8cc34; 
--orange_50:#fff8e2; 
--indigo_200:#9ca1cc; 
--black_900:#000000; 
--yellow_700:#e0b72b; 
--black_900_63:#00000063; 
--white_A700:#ffffff; 
}